# Flask/Dash
FLASK_SECRET_KEY=change-this-secret

# MQTT
MQTT_BROKER_HOST=mqtt
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_SUB=devices/+/uplink
MQTT_TOPIC_PUB=devices/%s/downlink

# InfluxDB v2
INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_TOKEN=T0ZoSucqSCbNtgfcZSYE81-vYA7DdXpPFRb17vc2iUZsUZ0CsebGlOTpr9XTGFjlaiyqI5bwUhtqLQe2zU7wnA==
INFLUXDB_ORG=iot-narad-gcp
INFLUXDB_BUCKET=iot_data_gcp

# App
DASH_DEBUG=True
